
/**
 *   Might need to move this block into hrecipe.css
 */

/*
div.hrecipe p.item {
    font-size: 1.6em;
    text-align: left;
    margin-top: !important 0px;
    color: #1374B9;
}

div.hrecipe p.summary {
    font-weight: bold;
    padding-top: 0px;
    margin-top: 0px;
}

div.hrecipe p.ingredients {
    font-style: italic;
    padding-top: 0px;
    margin-top: 0px;
}

div.hrecipe p.myrating {
    font-weight: bold;
}
*/


/**
 *   Try to get rid of these asap; replace with 
 * as much WP-native styling as possible.  Once
 * this is gone, try to eliminate the add_action
 * hook for admin_print_styles in hrecipe.php.
 */


ul.tabs.bottom {
  background-color: transparent;
  margin-top: 50px;
  border: 0px;
}

ul.tabs li {

    display: inline;
    line-height: 200%;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;
}

ul.tabs li.btmtabs {
  background: transparent;
  border:0px;
  height:50px;
}

ul.tabs li.btmtabs a{
  border: 1px solid #999;
  border-bottom:1px solid #999;
  width:50px;
  font-size:11px;
  text-align:center;
  background-color:#ddd;
  margin-bottom:10px;
  float:left; display:inline;
  margin-left:15px;
}

ul.tabs li.btmtabs a:hover {
  background-color:#ccc;
}

/* End thickbox formatting block. */


